@font-face {
  font-family: 'CelestiaAntiqua';
  src: url('../assets/CelestiaAntiqua Roman.ttf');
}
@font-face {
  font-family: 'CelestiaAntiquaBold';
  src: url('../assets/Celestia Antiqua Bold.ttf');
}

/* Base Window Content */
.character .window-content, 
.equippableItem .window-content, 
.custom-dialog .window-content {
	background: url('../assets/BackgroundEterno2.webp') no-repeat;
 	background-size: cover;
	padding: 1rem;
	color: black;
}
.window-app .window-content {
	background: white;
}
.marginzero { margin: 0px; }

/* Inputs & Form Controls */
.character input[type=text], .equippableItem input[type=text], .custom-dialog input[type=text],
.character input[type=number], .equippableItem input[type=number], .custom-dialog input[type=number] {
	box-shadow: 0px 0px;
    background: transparent;
	color:#005da9;
    border: 1px solid black;
}
.character select, .equippableItem select, .custom-dialog select {
	background: transparent;
	color: #005da9;
    border: 1px solid black;
}
.character summary:before, .equippableItem summary:before, .custom-dialog summary:before {
	border-color: transparent transparent transparent #000000;
}
.custom-dialog .form-group > label {
	color: black;
}
.custom-system-number-field-control {
	background: transparent;
	color: black;
	border: 1px solid black;
}

/* Radio & Checkbox Resets */
.character input[type="radio"]::before, .equippableItem input[type="radio"]::before, .custom-dialog input[type="radio"]::before {
    content: "\f10c";
    color: black;
    font-weight: normal;
}
.character input[type="radio"]:checked::before, .character input[type="radio"]:checked::after, 
.equippableItem input[type="radio"]:checked::before, .equippableItem input[type="radio"]:checked::after, 
.custom-dialog input[type="radio"]:checked::before, .custom-dialog input[type="radio"]:checked::after {
    content: "\f192";
    color: black;
}
.character input[type="checkbox"]::before, .equippableItem input[type="checkbox"]::before, .custom-dialog input[type="checkbox"]::before,
.character input[type="checkbox"]:checked::before, .equippableItem input[type="checkbox"]:checked::before, .custom-dialog input[type="checkbox"]:checked::before,
.character input[type="checkbox"]:checked::after, .equippableItem input[type="checkbox"]:checked::after, .custom-dialog input[type="checkbox"]:checked::after,
.radioacc input[type="radio"]::before, .radioacc input[type="checkbox"]::before,
.radioacc input[type="radio"]:checked::after, .radioacc input[type="checkbox"]:checked::after,
.radioacc input[type="radio"]:checked::before, .radioacc input[type="checkbox"]:checked::before {
    content: "";
}

/* Links & Buttons */
.character .content-link, .equippableItem .content-link, .custom-dialog .content-link {
  background: transparent;
  color: black;
  border: 0px;
}
.custom-system-user-input-button {
    padding: 0px;
	margin: 0px;
	background: white;
	font-size: 15px;
	margin-top: 5px;
	border: 2px solid #005da9;
	box-shadow: 1px 1px 2px;
	width: 30px;
	height:30px;
    color: black;
}
.custom-system-user-input-button:hover {
	background-color: #005da9;
	color: white;
	box-shadow: 1px 1px 2px black;
}
.custom-dialog .standard-form .form-footer > button {
  color: black;
  background: transparent;
  border: 2px groove black;
}
.briosbutton {
	background: white;
	font-family: 'CelestiaAntiquaBold';
	font-size: 15px;
	margin-top: 5px;
	border: 2px solid #005da9;
	box-shadow: 1px 1px 2px;
	width: 100%;
}
.briosbutton:hover {
	background-color: #005da9;
	color: white;
	box-shadow: 1px 1px 2px black;
}
a:hover, a.active {
  text-shadow: 0 0 8px #005da9;
}


/* Grid Layouts */
.character .grid {
	margin-top: 0px;
	margin-bottom: 0px;
}
.panelhead > :first-child { display: grid; grid-template-columns: 70% 30%; gap: 0px; font-family:'CelestiaAntiqua'; }
.panelorigen > :first-child { display: flex; gap: 0px; }
.panelbrios > :first-child { display: grid; grid-template-columns: 30% 70%; gap: 0px; }
.panelvinc > :first-child { display: grid; grid-template-columns: 91% 9%; gap: 0px; }
.panheridas > :first-child { display: grid; grid-template-columns: 10% 66% 22%; gap: 2px; }
.panelagdef > :first-child { display: grid; grid-template-columns: 50% 50%; gap: 0px; }
.aptvinc > :first-child { display: grid; grid-template-columns: 55% 45%; margin-top: 10px; gap: 0px; }
.paneltop > :first-child { display: grid; grid-template-columns: 50% 50%; gap: 0px; }
.panelaccind > :first-child { display: grid; grid-template-columns: 25px 50% 52px; gap: 0px; margin-bottom: 15px; }
.panelsenas > :first-child { display: grid; grid-template-columns: 5% 75% 20%; gap: 5px; }
.panelpertarm > :first-child { display: grid; grid-template-columns: 55% 45%; gap: 0px; }
.panelaccindtitle > :first-child { display: grid; grid-template-columns: 25px 50% 52px; gap: 0px; }
.panelequibotin > :first-child { display: grid; grid-template-columns: 80% 20%; gap: 0px; }
.paneldefdano > :first-child { display: grid; grid-template-columns: 10% 15%; font-family: 'CelestiaAntiqua'; }
.panelclasenav > :first-child { display: grid; grid-template-columns: 17% 83%; }
.paneldadotrip > :first-child { display: grid; grid-template-columns: 35% 15% 10% 40%; gap: 10px; }
.panelcasco > :first-child { display: grid; grid-template-columns: 15% 35%; }
.equipobuscpanel > :first-child { display: grid; grid-template-columns: 40% 50%; }
.equipobusc > :first-child { display: grid; grid-template-columns: auto auto auto auto auto auto auto auto auto auto; gap: 0px; }

/* Panels and Containers */
.cajaverde {
    background: url('../assets/PanelBackground.webp') no-repeat border-box;
    background-size: cover;
    border: 10px solid;
	border-image: url(../assets/MarcoVerde.webp) 10% / 30px stretch;
}
.cajaazul {
    background: url('../assets/PanelBackground.webp') no-repeat border-box;
    background-size: cover;
    border: 10px solid;
	border-image: url(../assets/MarcoAzul.webp) 10% / 30px stretch;
}
.panelagdefbig, .vincpanelbig { margin-top: 10px; margin-left: 5px; }
.senaspanelbig, .armaspanelbig { margin-left: 5px; }
.panelrit { margin-top: 10px; }
.panelacc { gap: 0px; }
.panelcaract { font-family: 'CelestiaAntiqua'; gap: 0px; }
.panelmostrarocultar { margin-top: -25px; margin-bottom: 10px; }

/* Text Inputs with Bottom Borders */
.charname input[type="text"] {
	font-family: 'CelestiaAntiquaBold';
	font-size: 50px;
	background: transparent;
	border: 0px;
	border-bottom: 2px solid black;
	border-radius: 0px;
}
.panelorigen input[type="text"], .panelsenas input[type="text"], .panelvinc input[type="text"], 
.panheridas input[type="text"], .enserestabla input[type="text"], .armastabla input[type="text"],
.titmejor input[type="text"], .inputtexts input[type="text"], .nomcarg input[type="text"], 
.valorcarginput input[type="text"], .dropdice select, .intinput select, .custom-system-user-inputs td input[type="number"],
.custom-system-user-input-block select {
	background: transparent;
	border: 0px;
	border-bottom: 1.5px solid black;
	border-radius: 0px;
	padding: 0px;
	padding-left: 5px;
	font-size: 16px;
}
.titmejor input[type="text"], .inputtexts input[type="text"] {
	margin: 0px;
	font-family: 'CelestiaAntiquaBold';
	font-size: 20px;
}
.nomcarg input[type="text"], .valorcarginput input[type="text"], .intinput select {
	margin: 0px;
	font-family: 'CelestiaAntiqua';
}
.amenazaaguantedef input[type="text"] {
    background: url('../assets/CajaNumero.webp') no-repeat;
    background-size: 100% 100%;
    padding: 0px;
    border: 0px;
    min-width: 70px;
    max-width: 70px;
    min-height: 70px;
    max-height: 70px;
    font-size: 30px;
    font-family: 'CelestiaAntiquaBold';
}
.title1input input[type="text"] { background: transparent; border: 0px; }

/* Specific Inputs */
.briosinput { height: auto; width: 40px; margin-left: 25px; }
.briosinput input[type="text"] {
	background: transparent;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	border: 2px solid black;
}
.gravcurac { margin: 0px; }
.gravcurac input[type="text"] { text-align: center; }
.titmejor, .nomcarg, .valorcarginput, .intinput { margin: 0px; }

/* Checkboxes */
.acccheck { margin: 0px; width: 20px; }
.acccheck input[type="checkbox"] {
	-webkit-appearance: initial;
    appearance: initial;
	margin: 0px 0px 0px 5px;
    background-color: white;
	flex: 0 0 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
	border: 1.5px solid black;
	transform: rotate(45deg);
}
.acccheck input[type="checkbox"]:checked { background-color: aqua; }
.chekequi {
	-webkit-appearance: initial;
    appearance: initial;
    margin: 0px 0px 0px -10px;
    background-color: white;
    flex: 0 0 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border: 1.5px solid black;
    transform: rotate(45deg);
}
.equipobusc input[type="checkbox"], .equipobusc input[type="checkbox"]:checked {
	flex: 0 0 20px;
    width: 20px;
    height: 20px;
}
.equipobusc div { width: 35px; }
.radioacc { margin: 0px; width: 17px; }
.radioacc input[type="radio"], .eternocheck input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
	margin: 0px;
    background: url('../assets/Checkbox_NotChecked.webp') center no-repeat;
	background-size: 20px;
	flex: 0 0 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.radioacc input[type="radio"]:checked, .eternocheck input[type="checkbox"]:checked {
    background: url('../assets/Checkbox_Checked.webp') center no-repeat;
	background-size: 20px;
}
.briocheck input[type="checkbox"], .briocheck input[type="checkbox"]:checked {
    background-size: 30px;
	flex: 0 0 30px;
    width: 30px;
    height: 30px;
}
.subidacheck { margin-left: 2px; }
.subidacheck input[type="checkbox"] {
    background: url('../assets/Checkbox_NotChecked_rotated.webp') center no-repeat;
    background-size: 17px;
    width: 17px;
    height: 17px;
    flex: 0 0 17px;
}
.subidacheck input[type="checkbox"]:checked {
    background: url('../assets/Checkbox_Checked_rotated.webp') center no-repeat;
    background-size: 17px;
}
.ojocheck input[type="checkbox"] {
    background: url('../assets/eye.svg') center;
    background-size: 17px;
    width: 17px;
    height: 17px;
    flex: 0 0 17px;
}
.ojocheck input[type="checkbox"]:checked {
    background: url('../assets/eye-slash.svg') center;
    background-size: 17px;
}

/* Tables */
.character table, .equippableItem table, .custom-dialog table, 
.apttable table, .enserestabla table, .armastabla table, 
.ritualtab table, .mejorastable table, .cargtable table, 
.enserestablapert table, .enserestablapertarmas table {
	background: transparent;
    border: 0px;
}
.apttable table tr:nth-child(even), .mejorastable table tr:nth-child(even), .custom-system-user-inputs tr:nth-child(even) { background: transparent; }
.enserestablapert table tr:nth-child(even), .enserestablapertarmas table tr:nth-child(even) { background-color: rgb(197 197 197 / 20%); }

.apttable table td, .mejorastable table td, .cargtable table, 
.enserestablapert table tr td, .enserestablapertarmas table tr td, 
.ritualtab table tr td { padding: 0px; margin: 0px; }

.apttable table tr:first-child, .ritualtab table tr:first-child, .mejorastable table tr:first-child, .custom-system-user-inputs thead { display: none; }
.enserestabla table tr:first-child, .armastabla table tr:first-child { font-family: 'CelestiaAntiquaBold'; font-size: 16px; }
.cargtable table tr:first-child { font-family: 'CelestiaAntiquaBold'; }
.enserestablapert table tr:first-child, .enserestablapertarmas table tr:first-child { font-family: 'CelestiaAntiquaBold'; font-size: 12px; margin: 0px; }

.enserestabla table tr td, .armastabla table tr td { margin-top: auto; margin-bottom: auto; }
.enserestabla table tr td:last-child, .armastabla table tr td:last-child { margin-left: 5px; }
.enserestabla table tr td:nth-child(3) input[type="text"], .armastabla table tr td:nth-child(2) input[type="text"] { text-align: center; }

.enserestabla table tr { display: grid; grid-template-columns: 43% 25% 10% 5% 5% 5% 7%; }
.armastabla table tr { display: grid; grid-template-columns: 40% 10% 43% 7%; }
.mejorastable table tr { display: grid; grid-template-columns: 93% 7%; margin-bottom: 10px; gap: 0px; }
.cargtable table tr { display: grid; grid-template-columns: 48% 13% 19% 8% 8%; gap: 0px; }
.enserestablapert table tr { display: grid; grid-template-columns: auto 49% 7% 7% 7%; gap: 2px; }
.enserestablapertarmas table tr { display: grid; grid-template-columns: 35% 15% 43% 7%; }

.mejorastable table td:nth-child(1) { order: 1; }
.mejorastable table td:nth-child(3) { order: 2; }
.mejorastable table td:nth-child(2) { order: 3; grid-column: 1 / span 2; }
.cargtable table tr td:last-child { padding-left: 0px; }

.enserestablapert td, .enserestablapertarmas td:first-child { display: flex; align-content: center; flex-wrap: wrap; }
.enserestablapert table tr:not(:first-child) td:first-child, .enserestablapertarmas table tr:not(:first-child) td:first-child { margin: 0.5em 0; font-weight: bold; }
.enserestablapert table tr td div, .enserestablapertarmas table tr td div { height: 100%; }
.enserestablapert table tr td:nth-child(2) div, .enserestablapertarmas table tr td:nth-child(3) div { justify-content: left; }
.enserestablapert table tr:first-child td:nth-child(2) div, .enserestablapertarmas table tr:first-child td:nth-child(3) div { justify-content: center; }
.enserestablapert .content-link, .enserestablapertarmas .content-link, .enserestablapert a, .enserestablapertarmas a, .enserestablapert p, .enserestablapertarmas p {
	border: 0px;
	padding: 0px;
	background: transparent;
	white-space: pre-wrap;
    word-break: keep-all;
    color: #005da9;
    font-size: 16px;
    font-family: 'CelestiaAntiqua';
    text-align: left;
}
.enserestablapert a img, .enserestablapertarmas a img { display: none; }
.enserestablapertarmas tr:not(:first-child) td:nth-child(2) div span, .enserestablapert table tr:not(:first-child) td:nth-child(3) div { color: #005da9; font-size: 16px; }
.enserestablapert input[type=text], .enserestablapertarmas input[type=text] {
    color: #005da9;
    font-size: 16px;
    font-family: 'CelestiaAntiqua';
    border: 0px;
    background: url('../assets/Checkbox_NotChecked_rotated.webp') center no-repeat;
	background-size: 30px;
	padding:0px;
}
.ritualtab table tr td { color: #005da9; font-size: 16px; font-family: 'CelestiaAntiqua'; }

/* Dice and Rolls */
.dice-roll, .dice-roll .dice-tooltip { pointer-events: none; }
.dice-roll .dice-formula, .dice-tooltip .part-header, .dice-total { display: none; }
.dice-roll .dice-tooltip { display: flex; flex-wrap: wrap; align-content: center; justify-content: center; }
.dice-tooltip .dice-rolls {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    text-shadow: 3px 0px 2px white, -3px 0px 2px white, 0px 3px 2px white, 0px -3px 2px white, 3px 3px 3px white, -3px 3px 3px white, 3px 3px 3px white, -3px -3px 3px white;
}
.dice-tooltip .dice-rolls .roll.max, .dice-tooltip .dice-rolls .roll.min { filter: none; }
.dice-tooltip .dice-rolls .roll.failure, .dice-tooltip .dice-rolls .roll.min,
.dice-tooltip .dice-rolls .roll.success, .dice-tooltip .dice-rolls .roll.max { color: black; }
.dice-tooltip .dice-rolls .roll.d4, .dice-tooltip .dice-rolls .roll.d6, 
.dice-tooltip .dice-rolls .roll.d8, .dice-tooltip .dice-rolls .roll.d10, .dice-tooltip .dice-rolls .roll.d12 {
	height: 40px;
	width: 40px;
	background-size: 40px;
	font-size: 25px;
	line-height: 40px;
}
.dice-tooltip .dice-rolls .roll.d4 { background-image: url(../assets/d4-grey.svg); }

.repdice { display: flex; justify-content: space-evenly; }
.repdie4, .repdie6, .repdie8, .repdie10, .repdie12 { display: flex; flex-direction: column; text-align: center; }
.repdie4 label, .repdie6 label, .repdie8 label, .repdie10 label, .repdie12 label {
	font-family: 'CelestiaAntiquaBold';
    font-size: 1.8rem;
    width: 2.6rem;
    height: 2.6rem;
	background-size: 2.6rem;
	background-repeat: none;
    padding-top: 5px;
}
.repdie4 label { background-image: url(../assets/d4-grey.svg); }
.repdie6 label { background-image: url(../assets/d6-grey.svg); }
.repdie8 label { background-image: url(../assets/d8-grey.svg); }
.repdie10 label { background-image: url(../assets/d10-grey.svg); }
.repdie12 label { background-image: url(../assets/d12-grey.svg); }

/* Chat Messages */
.chat-message {
	background: url('../assets/BackgroundEterno2.webp') no-repeat;
	background-size: cover;
}
.chat-message .message-header { border-bottom: 2px solid darkred; }
.chat-message .message-header .message-sender {
	color: black;
	font-family: 'CelestiaAntiquaBold';
	text-align: center;
	font-size: 35px;
	text-wrap: wrap;
	line-height: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	white-space: normal;
}
.message .message-header .message-metadata { flex: 0 0 50px; margin-left: 0; }
.message-timestamp { text-wrap: wrap; font-size: 10px; }
.chat-message .message-content {
	font-family: 'CelestiaAntiqua';
	font-size: 20px;
	text-align: justify;
	border: 0px;
}
.chat-message .message-content h1, .chat-message .message-content h2, .chat-message .message-content h3 {
	font-family: 'CelestiaAntiquaBold';
    text-align: center;
	border: 0px;
}
.chat-message .message-content h1 { font-size: 34px; }
.chat-message .message-content h2 { font-size: 30px; margin: 0 10px; }
.chat-message .message-content h3 { font-size: 25px; margin: 0 10px; }

/* Typography & Custom Inputs */
.title1 { font-family: 'CelestiaAntiquaBold'; font-size: 22px; }
.title2 { font-family: 'CelestiaAntiquaBold'; font-size: 20px; }
.title3 { font-family: 'CelestiaAntiquaBold'; font-size: 15px; }
.tabpanel, .custom-system-user-inputs { font-family: 'CelestiaAntiqua'; font-size: 15px; }
.tabpanel .item { font-family: 'CelestiaAntiquaBold'; font-size: 20px; }
.tabpanel .item.active { text-decoration: underline; color: black; }
.custom-system-user-inputs { background: transparent; border: 0px; }
.custom-system-user-inputs td button { font-size: 15px; color: black; }
.custom-system-user-inputs td input[type="number"] {
	text-align: center;
	transform: scale(1);
	font-family: 'CelestiaAntiqua';
	font-size: 15px;
	max-width: 40px;
}
.smallfont {
    font-size: 12px;
    margin: 0px;
}
.custom-system-user-input-button[data-inputaction="sub-10"], .custom-system-user-input-button[data-inputaction="add-10"] { display: none; }
.senaarq { margin-top: 1px; margin-right: 3px; }

/* Layout Classes */
.borderright {
	border-right: 2px solid black;
	padding-right: 5px;
}
.discborder { border-right: 2px dotted black; }
.gapzero > :first-child { gap: 0px; }
.margintopparag { margin-top: 10px; }
.panelradiobuttons { justify-content: center; }
/* Journals and Actors */
.sheet.journal-entry .journal-entry-page, .sheet.journal-entry .journal-sidebar { font-family: 'CelestiaAntiqua'; }
.sheet.journal-entry .journal-entry-page h1, .sheet.journal-entry .journal-entry-page h2, 
.sheet.journal-entry .journal-entry-page h3, .sheet.journal-entry .journal-entry-page h4, 
.sheet.journal-entry .journal-header .title {
	font-family: 'CelestiaAntiquaBold';
}
.sheet .custom-system-actor header.sheet-header .profile-img-container img {
	display: block;
	-webkit-transition: all 0.3s ease; 
	z-index: 999;
}
.sheet .custom-system-actor header.sheet-header .profile-img-container img:hover { transform: translate(50%, 50%) scale(2); }

/* Miscellanous Texts */
.acttotlabel, .accionname { font-family: 'CelestiaAntiquaBold'; color: black; margin: 0px; }
.acttotlabel { font-size: 16px; }
.accionname .custom-system-rollable, .custom-system-rollable > * { color: black; }
.textoazul, .textblue { color: #005da9; font-size: 16px; font-family: 'CelestiaAntiqua'; }
.textoazul input, .textoazul p , .textoazul [type=text], .textoazul [type=number]{ color: #005da9; font-size: 16px; font-family: 'CelestiaAntiqua'; margin: 0px; }
.textosobj, .descmej { font-family: 'CelestiaAntiqua'; }
select option {
    font-family: Arial, Helvetica, sans-serif;
}
/* Surcazul */
.cajapapel {
background: url('../assets/Fondopapel.webp') no-repeat center;
    background-size: 100% 100%;
    padding:40px;
}
.allcaps input[type='text']{
font-size:20px;
text-transform: uppercase;
}
.descsurcazul p{
text-align:center;
}
.subtext {
font-family: 'CelestiaAntiqua';
}
.valnav1 input[type="text"] {
    font-size: 25px;
    font-family: 'CelestiaAntiquaBold';
    padding: 0px;
    border:0px;
    border-radius:50%;
    width:40px;
    height:40px;
    margin-top:85px;
}
.valnav21 input[type="text"] {
    font-size: 25px;
    font-family: 'CelestiaAntiquaBold';
    padding: 0px;
  border:0px;
    border-radius:50%;
    width:40px;
    height:40px;
    margin-top:85px;
    margin-left:-25px;
}
.valnav22 input[type="text"] {
    font-size: 20px;
    font-family: 'CelestiaAntiquaBold';
    padding: 0px;
    border:0px;
    border-radius:50%;
    width:30px;
    height:30px;
    margin-top:-45px;
    margin-left:24px;
}
.valnavman {
background: url('../assets/Maniobra.webp') no-repeat center;
    background-size: contain;
    min-height:130px;
    margin:0px;
 }
.valnavvela {
background: url('../assets/Vela.webp') no-repeat center;
    background-size: contain;
    min-height:130px;
    margin:0px;
}
.valnavpot {
background: url('../assets/Potencia.webp') no-repeat center;
    background-size: contain;
    min-height:130px;
    margin:0px;
}
.valnavbod {
background: url('../assets/Bodega.webp') no-repeat center;
    background-size: contain;
    min-height:130px;
    margin:0px;
}
.valnavcasc {
background: url('../assets/Casco.webp') no-repeat center;
    background-size: contain;
    min-height:130px;
    margin:0px;
}
.valnavcora {
background: url('../assets/Corazon.webp') no-repeat center;
    background-size: contain;
    min-height:130px;
    margin:0px;
}
.apttable table td div{
margin-bottom:10px;
}
.tablabuscadores table {
background: transparent;
    border: 0px;
}
.tablabuscadores table tr td {
padding: 0px;
margin: 0px; 
}
.tablabuscadores table tr td div {
padding: 0px;
margin: 0px; 
}
.tablabuscadores table tr {
display: grid;
gap:0px;
grid-template-columns: 9% 83% 10%;
}
.tablabuscadores  td, .tablabuscadores  td:first-child { display: flex; align-content: center; flex-wrap: wrap; }
.tablabuscadores  td input[type=text] {
background: transparent;
    border: 0px;
    border-bottom: 1.5px solid black;
    border-radius: 0px;
    padding: 0px;
    padding-left: 5px;
    font-size: 16px;
}
.tablabuscadores tr:first-child td:first-child {
font-size: 12px;
font-family: 'CelestiaAntiquaBold';
}
.textoazul ul {
margin:0px;
}
.panelgenequipo {
font-family: 'CelestiaAntiqua';
}
.paneldetequip >:first-child {
display:grid;
grid-template-columns: 35% 65%;
gap:0px;
}
.panelbotin >:first-child {
display:grid;
grid-template-columns: 25% 20%;
}